<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Survey Main</title>
</head>
<body>
  <main>
    <h1>Do Stuff!!!</h1>
    <!-- <form action="/stuff">
      <label for="name">
        Name: <input type="text" name="name">
      </label>
      <label for="bday">
        Birthday: <input type="date" name="bday">
      </label>
      <label for="email">
        Email: <input type="text" name="email">
      </label>
      <label for="pass">
        Password: <input type="password" name="pass">
      </label>
      <input type="submit" value="Submit">
    </form> -->
    <form action="/stuff">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name="" value="Submit">
    </form>
  </main>
</body>
</html>
